@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid green;
    flex-direction: column;
    
}
.container{
    background: url(back.jpg);
    
}


.lookup-btn{
    background: #333;
    padding: 1rem;
    cursor: pointer;
}
.lookup-btn:hover{
    opacity: 0.8;
}