@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ip-display,
.location-display{
    font-size: 1em
}
.lookup-btn{
    background: #333;
    padding: 1rem;
    cursor: pointer;
    transition: opacity 0.25s linear;
}
.lookup-btn:hover{
    opacity: 0.8;
}